<html>
    <head>
        <title>{{ title }}</title>
    <head>
    <body>
        <h1>{{ title }}<h1>
        <p>{{ message}}</p>
        <h3>
        <form method="post" action="/">
            Username: <input type="text" name = "username" value = "{{ user.username }}"><br>
            {% if(error.username) %}
                <p>{{error.username.msg}}</p>
            {% endif %}  


            Password: <input type="password" name = "password" value = "{{ user.password }}"><br>
            {% if(error.password %}
                <p>{{error.password.msg}}</p>
            {% endif %} 

            Re-Enter Password: <input type="password" name = "cpassword" value = "{{ user.cpassword }}"><br>
            {% if(error.cpassword %}
                <p>{{error.cpassword.msg}}</p>
            {% endif %} 

            <input type="submit" name = "submit" value="Submit">
        </form>
        <h3>
    </body>
</html>